#ignore all
*

#except these directorie
!.config/

#inore all files in .config
.config/*

#except these directories in .config
!.config/kitty/
!.config/kitty/*

!.config/hypr/
!.config/hypr/*


#except these directories in .config/lunery

!.config/.lunery/
!.config/.lunery/*

!.config/.lunery/kitty/
!.config/.lunery/kitty/*

!.config/.lunery/hyperland/
!.config/.lunery/hyperland/*


# home directory files
!.gitignore
!README.md

## zsh
!.zshrc
!.p10k.zsh

##

